/* Estilo general */
body {
  background-color: #f8f9fa;
}

/* SIDEBAR */
#sidebar {
  min-height: 100vh;
}

/* BREAKPOINT 1 (tablets) */
@media (max-width: 992px) {
  body {
    background-color: #e3f2fd;
  }

  h2 {
    font-size: 22px;
  }
}

/* BREAKPOINT 2 (móviles) */
@media (max-width: 768px) {
  body {
    background-color: #fff3cd;
  }

  #sidebar {
    display: none;
  }

  h2 {
    font-size: 20px;
  }
}

/* BREAKPOINT 3 (móviles pequeños) */
@media (max-width: 576px) {
  body {
    background-color: #f8d7da;
  }

  h2 {
    font-size: 18px;
  }
}